# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.SlickSausage.iml
# Datasource local storage ignored files
/../../../../../../:\Gamedev\SlickSausage\.idea\.idea.SlickSausage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
